/********** nav-stylesheet start ************/
nav{
    padding: 0 140px;
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-items {
    text-align: left;
}
.menu-items a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    padding: 0 32px;
}